
/* Font Family: Kalam
 * License: OFL (see: ../fonts/Kalam/OFL.txt)
 * A nice hand-written typeface, used for the header
 */
@font-face {
    font-family: "Kalam";
    font-weight: bold;
    src: url("../fonts/Kalam/Kalam-Bold.ttf");
}
@font-face {
    font-family: "Kalam";
    font-weight: normal;
    src: url("../fonts/Kalam/Kalam-Regular.ttf");
}
@font-face {
    font-family: "Kalam";
    font-weight: light;
    src: url("../fonts/Kalam/Kalam-Light.ttf");
}

/* remove default body padding in margin, so inner elements aren't mysteriously indented */
body {
    padding: 0;
    margin: 0;

    --fg: #111;
    --bg: #efefef;

    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Times New Roman', Times, serif
}

/* The header for the entire web page (as apposed to section headers */
body > header {
    padding: 0.75rem 1vw;
		justify-content: space-between;
}

/* header: screens with a lot of width */
@media (min-width: 800px) {
	body > header {
		display: grid;
		/* columns:           website title | spacer | menu bar */
		grid-template-columns: auto auto;
		grid-template-areas: "title" "menu";
		grid-template-rows: 1fr;
	}
}

@media (max-width: 800px) {
	body > header {
		display: grid;
		/* rows:           website title
									     menu bar */
		grid-template-rows: auto auto;
		grid-template-areas: "title"
						   					 "menu";
		grid-template-columns: 1fr;
		row-gap: 8pt;
	}
}

/* the website title */
body > header h1 {
    font-size: 4rem;
    font-family: 'Kalam';
    font-weight: normal;
    padding: 0 3vw;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
		text-align: center;
		grid-area: "title";
}

/* clear default link styles in the website title */
body > header h1 > a {
    text-decoration: none;
    color: var(--fg);
}



/* Core menu bar styles */
body > header > menu {
    display: grid;

		/* allow any number of columns (i.e. each menu item has its own column) */
		grid-auto-columns: 1fr;

    grid-template-rows: 1fr;

    grid-auto-flow: column;
    align-items: center;

    column-gap: 5vw;
    align-self: end;
    margin: 0 3vw;
    padding: 0;
    flex: 1 1 auto;

		grid-area: "menu";
}

menu > a {
    display: block;
    color: var(--fg);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 4pt 1vw;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--fg);
}

menu > a.selected {
    border-bottom: 4px solid var(--fg);
    margin-bottom: -2px;
}

main {
    font-size: 2rem;
    max-width: 600px;
    margin: auto;
    padding:  10pt 10pt
}
