---
layout: layouts/base.njk
selectedMenuItem: Current
---

<h2 class="main-header">What I'm Up To</h2>

<section id="blokus">
    <section>
        <h3>Blokus</h3>
        <p>
            I'm currently working with a professor from college to prove the board game Blokus is NP-complete. In the process, I'm
            trying I'm implementing combinatorial game theory structures in <i>TypeScript</i>.
            <span class="cta">
                Check out
                <a href="https://github.com/ishehadeh/cgtjs">cgtjs</a>
                on GitHub!
            </span>
        </p>
    </section>
</section>

<section id="outside">
    <h3>Outside</h3>
    <p>
        I'm trying to run the Baltimore marathon again in 2026.
        I hurt my ankle in 2024 running, but I'm slowly getting back to it.
        In the meantime though, I've picked up lifting weights, swimming and cycling. 
    </p>
</section>

<section id="work">
    <h3>Work</h3>
    <p>
        I'm working at The Land Geek right now, building their automated payment platform
        <a href="https://geekpay.io">GeekPay</a>.
    </p>
</section>
