---
layout: layouts/base.njk
---

<p class="no-indent lead">
    Hi! My name's Ian.
</p>

<p>
    I'm a software engineer, currently working in web development and fintech.
    I'm particularly interested in finance and programming languages.
    On the side, I've been learning about combinatorial game theory.
    Outside of computers, I like to run, lift weights, and ride bikes.
</p>
