---
layout: layouts/base.njk
selectedMenuItem: Portfolio
---

<section class="portfolio-entry">
	<header>
		<h1>Howlite</h1>
		<a href="https://github.com/ishehadeh/howlite" class="ico-github"></a>
	</header>
	<p>Howlite is a low level programming language with a structural type system and constrained integers.</p>

	<p>
		This was my senior project at St. Mary's College of Maryland,
		I wrote about it in detail in the <a href="/papers/Howlite.pdf">report</a>.
	</p>
</section>


<section class="portfolio-entry">
	<header>
		<h1>Kōnjecture</h1>
		<a href="https://github.com/ishehadeh/konjecture" class="ico-github"></a>
	</header>
	<p>Conjecture is a suite of software tools for studying Kōnane and Combinatorial Game Theory</p>
</section>


<section class="portfolio-entry">
	<header>
		<h1>Rush</h1>
		<a href="https://github.com/ishehadeh/rush" class="ico-github"></a>
	</header>
	<p>A simple UNIX shell written in Rust.</p>
</section>
